<div class="div-format">
  <div class="div-format-name">1D</div>

  <div class="div-format-switch">
    <div class="switch tiny">
      <input id="cb-pre1D" value="0x3ff" class="cb-readFullRegion switch-input" type="checkbox" name="exampleSwitch" autocomplete="off">
      <label class="switch-paddle" for="cb-pre1D"></label>
    </div>
  </div>
</div>

<div class="div-format">
  <div class="div-format-name">PDF 417</div>

  <div class="div-format-switch">
    <div class="switch tiny">
      <input id="cb-prePDF417" value="0x2000000" class="cb-readFullRegion switch-input" type="checkbox" name="exampleSwitch" autocomplete="off">
      <label class="switch-paddle" for="cb-prePDF417"></label>
    </div>
  </div>
</div>

<div class="div-format">
  <div class="div-format-name">QR Code</div>

  <div class="div-format-switch">
    <div class="switch tiny">
      <input id="cb-preQRCode" value="0x4000000" class="cb-readFullRegion switch-input" type="checkbox" name="exampleSwitch" autocomplete="off">
      <label class="switch-paddle" for="cb-preQRCode"></label>
    </div>
  </div>
</div>

<div class="div-format">
  <div class="div-format-name">DataMatrix</div>

  <div class="div-format-switch">
    <div class="switch tiny">
      <input id="cb-preDataMatrix" value="0x8000000" class="cb-readFullRegion switch-input" type="checkbox" name="exampleSwitch" autocomplete="off">
      <label class="switch-paddle" for="cb-preDataMatrix"></label>
    </div>
  </div>
</div>

<div class="div-format">
  <div class="div-format-name">Aztec</div>

  <div class="div-format-switch">
    <div class="switch tiny">
      <input id="cb-preAztec" value="0x10000000" class="cb-readFullRegion switch-input" type="checkbox" name="exampleSwitch" autocomplete="off">
      <label class="switch-paddle" for="cb-preAztec"></label>
    </div>
  </div>
</div>

<div class="div-forProceedBtn">
  <button id="btn-processSupportAndSettings" disabled="disabled">Proceed</button>
</div>
