<ul id="ul-supportBrowser" class="accordion grid-x" data-accordion>
  <li class="accordion-item cell large-6 is-active" data-accordion-item>
    <a class="accordion-title">Supported Browsers for Desktop</a>

    <div class="accordion-content" data-tab-content style="display:block;">
      <table class="table-zebra">
        <tr><td>Chrome</td><td>v57</td></tr>
        <tr><td>Edge</td><td>v16</td></tr>
        <tr><td>Firefox</td><td>v52</td></tr>
        <tr><td>Safari</td><td>v11<a href="https://bugs.webkit.org/show_bug.cgi?id=181781" target="_blank">*</a></td></tr>
        <tr><td>Internet Explorer</td><td>No</td></tr>
      </table>
    </div>
  </li>

  <li class="accordion-item cell large-6" data-accordion-item>
    <a class="accordion-title">Supported Browsers for Mobile</a>
    <div class="accordion-content" data-tab-content>
      <table class="table-zebra">
        <tr><td>Chrome Android</td><td>v57</td></tr>
        <tr><td>Edge</td><td>Able<a href="https://nokiapoweruser.com/enabling-experimental-features-of-edge-spartan-browser-on-windows-10-mobile-changelog/" target="_blank">*</a></td></tr>
        <tr><td>Firefox Android</td><td>v52</td></tr>
        <tr><td>Safari</td><td>v11<a href="https://bugs.webkit.org/show_bug.cgi?id=181781" target="_blank">*</a></td></tr>
        <tr><td>Android webview</td><td>v57</td></tr>
      </table>
    </div>
  </li>
</ul>
