<div class="container">
  <h2>
    Demo Scan
  </h2>

  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Library</th>
        <th>Demo</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1</td>
        <td><%= link_to "Dynamsoft", "https://www.dynamsoft.com/" %></td>
        <td><%= link_to "Try it", dynamsoft_path, class: "btn btn-primary" %></td>
      </tr>
      <tr>
        <td>2</td>
        <td><%= link_to "Webondevices", "http://www.webondevices.com/javascript-barcode-scanner/" %></td>
        <td><%= link_to "Try it", webondevices_path, class: "btn btn-primary" %></td>
      </tr>
    </tbody>
  </table>
</div>
